@use "../../styles/themes/default.scss" as *;
@use "../../styles/media-queries.scss" as *;


.menu-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--minor-color-text);
  opacity: 0.5;
  z-index: 200;
}

.menu-close-button {
  display: none;
  
  @include tablet {
    display: block;
    position: fixed;
    top: 24px;
    left: 389px;
    padding: 12px;
    background-color: var(--minor-color-object);
    border-radius: 50px;
    line-height: 0px;
    z-index: 210;
    
    &:not(:disabled):hover {
      box-shadow: 0 1px 7px -5px rgba(32, 80, 173, 0.45);
    }
  
    &:not(:disabled):active {
      background-color: var(--minor-color-blue);
    }
  }

  .double-left-icon {
    height: 32px;
    width: 32px;

    path {
      stroke-width: 3px;
      stroke: var(--main-color-secondary);
    }
  }
}

.menu-container {
  position: fixed;
  padding: 16px 16px 24px 16px;
  height: 100%;
  width: 100%;
  background-color: var(--minor-color-object);
  z-index: 210;

  @include tablet {
    padding: 24px;
    width: 365px;
  }

  .menu-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .menu-content-top-container, .menu-content-bottom-container {
      display: flex;
      flex-direction: column;
    }

    .menu-content-top-container {
      gap: 16px;

      @include tablet {
        gap: 24px;
      }

      .auth-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        @include tablet {
          gap: 8px;
        }

        .auth-top-container {
          display: flex;
          justify-content: space-between;
          align-items: start;

          .auth-image {
            height: 48px;
            width: 48px;
            filter: drop-shadow(0px 0px 16px rgba(17, 57, 117, 0.25));
          }

          .username {
            margin-top: 8px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 2%;
            color: var(--minor-color-text);

            @include tablet {
              font-size: 18px;
              line-height: 28px;
            }
          }

          .user-role {
            margin-top: 0px;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 2%;
            color: var(--minor-color-text);

            @include tablet {
              font-size: 14px;
              line-height: 24px;
            }
          }

          .close-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 80px;
            height: 32px;
            width: 32px;
            line-height: 0px;

            @include tablet {
              display: none;
            }

            .close-menu-icon {
              path {
                stroke-width: 1.5px;
                stroke: var(--minor-color-text);
              }
            }
          }
        }

        .auth-bottom-container {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        .sign-up-button, .log-in-button {
          padding: 7.5px 9.5px;

          @include tablet {
            padding: 9.5px;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      .faq-container {
        .faq-link {
          display: flex;
          align-items: center;
          gap: 12px;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 2%;
          color: var(--minor-color-text);

          @include tablet {
            font-size: 16px;
            line-height: 24px;
          }

          .faq-icon {
            height: 24px;
            width: 24px;

            @include tablet {
              height: 32px;
              width: 32px;
            }

            path {
              stroke-width: 1.5px;
              stroke: var(--minor-color-text);
            }
          }
        }
      }
    }

    .menu-content-bottom-container {
      align-items: center;
      gap: 16px;

      @include tablet {
        display: none;
      }

      .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        line-height: 0px;

        .logo-icon {
          width: 80px;
          
          path {
            fill: var(--main-color-secondary);
          }
        }
      }
    }

    .divider {
      width: 100%;
    }
  }
}