@use "../../styles/themes/default.scss" as *;
@use "../../styles/media-queries.scss" as *;


.product-list-content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 76px 0px 40px 0px;
  width: 100%;

  @include desktop {
    padding: 104px 160px 64px 160px;
  }

  .product-list-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1600px;
    color: var(--minor-color-text);

    .product-list-breadcrumb, .category-name {
      padding: 0px 16px;
      
      @include desktop {
        padding: 0px;
      }
    }

    .category-name {
      margin-top: 0px;

      @include desktop {
        margin-top: 13px;
      }
    }

    .list-container {
      display: flex;
      gap: 24px;
      margin-top: 0px;

      @include desktop {
        margin-top: 32px;
      }

      .list-left-container {
        display: none;

        @include desktop {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }

      .list-right-container {
        display: flex;
        flex-direction: column;
        gap: 0px;
        flex: 1;

        .combo-boxes-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 18px 16px 0px 16px;

          @include desktop {
            justify-content: left;
            gap: 24px;
            padding: 0px;
          }

          .list-applied-filters-container {
            flex: 1;

            .applied-filters-button {
              display: flex;
              justify-content: center;
              align-items: center;

              .filter-empty-icon {
                height: 32px;
                width: 32px;

                path {
                  stroke-width: 1.5px;
                  stroke: var(--minor-color-text);
                }
              }
            }
          }

          .list-row-number-toggle {
            display: none;

            @include desktop {
              display: block;
            }
          }
        }

        .divider {
          margin-top: 11px;

          @include desktop {
            margin-top: 24px;
          }
        }

        .big-product-card-list, .product-card-list {
          gap: 16px;

          @include desktop {
            margin-top: 40px;
          }
        }

        .big-product-card-list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }

        .product-card-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 16px;
          padding: 0px 16px;

          @include desktop {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 0px;
          }
        }

        .list-pagination {
          margin-top: 24px;

          @include desktop {
            margin-top: 48px;
          }
        }

        .product-card-list-message {
          margin-top: 16px;
          padding: 0px 16px;
          text-align: center;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 2%;
          color: var(--minor-color-text);

          @include desktop {
            margin-top: 40px;
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }
  }
}