.change-settings-container, .small-change-settings-container {
  .change-settings-content-container {
    .new-password-form-container {
      margin-top: -20px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 100%;

      .left-title-container {
        margin-top: 28px;
      }

      .left-description {
        margin-top: 8px;
      }
    }
  }
}