@use "../../styles/themes/default.scss" as *;
@use "../../styles/media-queries.scss" as *;


.send-code-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-weight: 400;

  .code-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    @include desktop {
      gap: 8px;
    }

    .code-input {
      padding: 10px;
      height: 40px;
      width: 35px;
      background-color: var(--minor-color-object);
      border: 1.5px solid rgba(var(--main-color-halftone), 0.5);
      border-radius: 4px;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 2%;
      color: var(--minor-color-text);

      @include desktop {
        height: 48px;
        width: 42px;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.5%;
      }
    }
  }

  .code-input-error {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2%;
    color: var(--minor-color-destructive);

    @include desktop {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .send-code-button {
    margin-top: 0px;
    font-weight: inherit;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2%;
    color: var(--minor-color-text);

    &:disabled {
      opacity: 1;
    }

    @include desktop {
      margin-top: 6px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}