.newPasswordFormContainer {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  .titleLeftContainer {
    margin-top: 28px;
  }

  .descriptionLeft {
    margin-top: 8px;
  }
}