@use "../../styles/themes/default.scss" as *;
@use "../../styles/media-queries.scss" as *;


.filter-combo-box-container {
  gap: 16px;
  
  .title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2%;

    @include desktop {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .options-container {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2%;
    color: #4F4F4F;

    @include desktop {
      font-size: 16px;
      line-height: 24px;
    }
  }
}