@use "../../styles/themes/default.scss" as *;
@use "../../styles/media-queries.scss" as *;


.filterTagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 14px;

  .filterTagContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 20px;
    background-color: var(--minor-color-blue-light);
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;

    .closeIcon {
      height: 8px;
      width: 8px;

      path {
        stroke-width: 1.5px;
        stroke: var(--minor-color-text);
      }
    }
  }
}

hr {
  margin-bottom: 14px;
}