@use "../../styles/themes/default.scss" as *;
@use "../../styles/media-queries.scss" as *;


.menu-header-combo-box-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2%;
  color: var(--minor-color-text);
  user-select: none;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }

  .menu-header-combo-box-top-container {
    cursor: pointer;
    
    .title-container {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .product-catalog-container {
        display: flex;
        align-items: center;
        gap: 12px;

        .category-icon {
          height: 24px;
          width: 24px;

          @include tablet {
            height: 32px;
            width: 32px;
          }

          path {
            stroke-width: 1.5px;
            stroke: var(--minor-color-text);
          }
        }
      }

      .menu-header-combo-box-button {
        line-height: 0px;
  
        .arrow-down-icon {
          width: 16px;
          height: 16px;
          transition: transform 0.2s;
      
          path {
            stroke-width: 1.5px;
            stroke: var(--minor-color-text);
          }
      
          &.arrow-down-icon-open {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .menu-header-combo-box-bottom-container {
    display: flex;
    flex-direction: column;

    .categories-container {
      display: flex;
      flex-direction: column;
      gap: 14px;
      padding: 14px 0px 0px 0px;
      height: fit-content;

      @include tablet {
        gap: 16px;
        padding: 16px 0px 0px 0px;
      }

      .category-link {
        display: flex;
        align-items: center;
        gap: 12px;
          
        .category-icon {
          height: 24px;
          width: 24px;
          
          @include tablet {
            height: 32px;
            width: 32px;
          }
  
          path {
            stroke-width: 1.5px;
            stroke: var(--minor-color-text);
          }
        }
      }
    }

    .see-all-button {
      margin-top: 14px;
      padding: 7.5px 9.5px;

      @include tablet {
        margin-top: 16px;
        padding: 9.5px;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}