@use "../../styles/themes/default.scss" as *;
@use "../../styles/media-queries.scss" as *;


.primary-text-button {
  padding: 8px 32px;
  background-color: var(--main-color-primary);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2%;
  color: var(--minor-color-text);

  &:not(:disabled):hover {
    padding: 5.5px 29.5px;
    background-color: var(--minor-color-primary-hover);
    border: 2.5px solid var(--main-color-primary);
  }

  &:not(:disabled):active {
    padding: 8px 32px;
    background-color: var(--minor-color-primary-active);
    border: 0px;
  }

  &:disabled {
    opacity: 0.5;
  }

  @include desktop {
    font-size: 16px;
    line-height: 24px;
  }
}