@use "../../styles/themes/default.scss" as *;
@use "../../styles/media-queries.scss" as *;


.pageNotFoundMain {
  padding: 0px;

  .pageNotFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--main-color-error-page);

    .pageNotFoundContentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @include tablet {
        width: fit-content;
      }

      img {
        width: 100%;
        max-width: 800px;
      }

      h3 {
        margin-top: 8px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 2%;
        color: var(--main-color-text);

        @include tablet {
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: -1.5%;
        }
      }

      .returnToMainPageButton {
        margin-top: 18px;
        padding-left: 13.5px;
        padding-right: 13.5px;
        width: 260px;
        border-radius: 8px;
        font-size: 16px;
        line-height: 20px;

        @include tablet {
          margin-top: 40px;
          padding: 13.5px 9.5px;
          width: 400px;
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }
}