@use "./styles/themes/default.scss" as *;
@use "./styles/media-queries.scss" as *;


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body, #root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--main-color-text);
}

body {
  font-family: var(--font-family);
}

button, .link {
  transition-property: background-color, border, outline, box-shadow, opacity;
  transition-duration: 0.2s;
}

button, input {
  border: 0px;
  outline: none;
}

button {
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}

input {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  display: block;
}

::placeholder {
  color: var(--minor-color-text);
  opacity: 0.5;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;

  @include desktop {
    font-size: 40px;
    line-height: 48px;
  }
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -1.5%;

  @include desktop {
    font-size: 32px;
    line-height: 36px;
  }
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1.5%;

  @include desktop {
    font-size: 24px;
    line-height: 28px;
  }
}


.divider {
  height: 1.5px;
  background-color: var(--minor-color-blue);
  border: none;
  border-radius: 5px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}