@use "./styles/themes/default.scss" as *;
@use "./styles/media-queries.scss" as *;


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body, #root, .page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background-color: var(--main-color-text);
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--minor-color-text);
}

main {
  display: flex;
  flex-grow: 1;
}

.transition {
  // transition-property: background-color, border, outline, box-shadow, opacity;
  transition-duration: 0.2s;
}

.appear-transition {
  opacity: 0;
  animation: fadeIn 0.75s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button, .link {
  @extend .transition;
}

button {
  background-color: transparent;
  border: 0px;
  font-family: inherit;
  color: inherit;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}

.main-color-secondary-link {
  color: var(--main-color-secondary) !important;

  &:not(:disabled):active {
    color: var(--minor-color-blue) !important;
  }
}

.main-color-text-link {
  color: var(--main-color-text) !important;

  &:not(:disabled):active {
    color: var(--minor-color-blue) !important;
  }
}

.minor-color-text-link {
  color: var(--minor-color-text) !important;

  &:not(:disabled):active {
    color: rgba(var(--main-color-halftone), 0.5) !important;
  }
}

.main-color-text-icon {
  path, circle {
    @extend .transition;
  }

  path {
    stroke: var(--main-color-text) !important;
  }

  circle {
    fill: var(--main-color-text) !important;
  }

  &:not(:disabled):active {
    path {
      stroke: var(--minor-color-blue) !important;
    }

    circle {
      fill: var(--minor-color-blue) !important;
    }
  }
}

.minor-color-text-icon {
  path, circle {
    @extend .transition;
  }

  path {
    stroke: var(--minor-color-text) !important;
  }

  circle {
    fill: var(--minor-color-text) !important;
  }

  &:not(:disabled):active {
    path {
      stroke: rgba(var(--main-color-halftone), 0.5) !important;
    }

    circle {
      fill: rgba(var(--main-color-halftone), 0.5) !important;
    }
  }
}

.minor-color-text-icon-link:active {
  p {
    @extend .transition;
    color: rgba(var(--main-color-halftone), 0.5) !important;
  }

  svg {
    path {
      @extend .transition;
      stroke: rgba(var(--main-color-halftone), 0.5) !important;
    }

    circle {
      @extend .transition;
      fill: rgba(var(--main-color-halftone), 0.5) !important;
    }
  }
}

input {
  background-color: transparent;
  border: 0px;
  outline: none;
  font-family: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  display: block;
}

::placeholder {
  color: rgba(var(--main-color-halftone), 0.5);
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;

  @include desktop {
    font-size: 40px;
    line-height: 48px;
  }
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -1.5%;

  @include desktop {
    font-size: 32px;
    line-height: 36px;
  }
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1.5%;

  @include desktop {
    font-size: 24px;
    line-height: 28px;
  }
}


.divider {
  height: 1.5px;
  background-color: var(--minor-color-blue);
  border: none;
  border-radius: 5px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.body-no-scroll {
  overflow: hidden;
  scrollbar-gutter: stable;
}

.html-no-scroll {
  scrollbar-gutter: stable;
}