@use "../styles/themes/default.scss" as *;
@use "../styles/media-queries.scss" as *;


.breadcrumb-container {
  display: flex;

  .breadcrumb-list {
    display: flex;
    align-items: center;
  }

  .breadcrumb-item {
    display: flex;

    .home-icon {
      height: 24px;
      width: 24px;

      path {
        stroke-width: 1.5px;
        stroke: var(--minor-color-text);
      }
    }

    .crumb {
      display: flex;
      align-items: center;
      margin-top: 3px;
      margin-left: 4px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2%;
      color: var(--minor-color-text);

      @include desktop {
        margin-left: 6px;
        font-size: 16px;
        line-height: 24px;
      }
    
      .slash {
        user-select: none;
      }
    }

    &:nth-child(2) {
      margin-left: 2px;

      @include desktop {
        margin-left: 0px;
      }
    }
  }
}