@use "../styles/themes/default.scss" as *;
@use "../styles/media-queries.scss" as *;


.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--minor-color-text);
  cursor: pointer;

  .checkbox-input {
    display: none;
  }

  .checkbox-icon-container, .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(var(--main-color-halftone), 0.5);
  }

  .checkbox-icon-container {
    height: 16px;
    width: 16px;
    border-radius: 2px;
  }

  .checkbox {
    padding: 15px;
    height: 56px;
    width: 56px;
    border-radius: 4px;
  }

  input:checked + .checkbox-icon-container, input:checked + .checkbox {
    background-color: var(--main-color-primary);
    border-color: var(--main-color-primary);
  }

  input:checked + .checkbox-icon-container {
    .check-icon {
      height: 100%;
      width: 100%;

      path {
        stroke-width: 1.5px;
        stroke: var(--minor-color-text);
      }
    }
  }

  input:checked + .checkbox {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: var(--minor-color-text);
  }

  .checkbox-label {
    display: inline;
  }
}