:root {
  --main-color-primary: #B8EA48;
  --main-color-secondary: #4A7BD9;
  --main-color-text: #F2F4F8;
  --minor-color-text: #0e2042;
  --minor-color-primary-hover: #CDFA6A;
  --minor-color-primary-active: #8DD334;
  --minor-color-blue-dark: #2050AD;
  --minor-color-blue: #CCDDFF;
  --minor-color-blue-light: #E0EBFF;
  --minor-color-destructive: #EA4848;
  --minor-color-red-light: #FFCCCC;
  --minor-color-red-dark: #C22020;
  --minor-color-object: #F4FAFF;

  --font-family: "Mulish", sans-serif;
}