@use "../../styles/themes/default.scss" as *;
@use "../../styles/media-queries.scss" as *;


.cardCarouselContainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-y: auto;

  .cardsWrapContainer, .cardsContainer {
    display: flex;
  }

  .cardsWrapContainer {
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  .cardsContainer {
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    .cardContainer {
      padding: 11px;

      &.categoryCardContainer:not(:last-child), &.productCardContainer:not(:last-child) {
        margin-right: -6px;
      }

      &.categoryCardContainer:not(:last-child) {
        @include tablet {
          margin-right: 2px;
        }
      }
    }
  }

  .arrowsContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 16px; 
    width: 100%;
    pointer-events: none;
    z-index: 35;
    
    @include tablet {
      padding: 0px 24px; 
    }

    .arrowButton {
      padding: 6.5px;
      background-color: var(--main-color-text);
      border-width: 1.5px;
      line-height: 0px;
      pointer-events: auto;

      .arrowLeftIcon, .arrowRightIcon {
        height: 16px;
        width: 16px;

        path {
          stroke: var(--main-color-secondary);
          stroke-width: 1.5px;
  
          @include tablet {
            stroke-width: 3px;
          }
        }
      }
    }
  }
}