@use "../../styles/themes/default.scss" as *;
@use "../../styles/media-queries.scss" as *;


.accountDataContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  .accountDataTopContainer {
    position: sticky;
    top: 0px;
    background-color: var(--main-color-text);
    z-index: 40;

    .accountDataDivider {
      margin-top: 14px;

      @include desktop {
        margin-top: 16px;
        margin-bottom: 24px;
      }
    }
  }

  .accountDataBottomContainer {
    height: 100%;
    width: 100%;
  }
}