.paymentMethodToggleContainer {
  display: flex;
  align-items: center;
  gap: 24px;

  .toggleButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 7.5px 9.5px;
    border: 2.5px solid var(--main-color-secondary);
    border-radius: 4px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2%;
    cursor: pointer;

    .checkIcon {
      height: 24px;
      width: 24px;

      path {
        stroke-width: 1.5px;
        stroke: var(--minor-color-text);
      }
    }
  }

  .toggleActiveButton {
    background: var(--main-color-primary);
    border-color: var(--main-color-primary);
  }
}